.card-body{
background-color:DEE2E7;
}
.clicky-menu ul {
	position: absolute;
	top: 00px;
	left: 0;
	visibility: hidden; /*[1]*/
}

.clicky-menu.no-js li:hover > ul {
	visibility: visible;
}
.clicky-menu.no-js li:focus-within > ul { /*[2]*/
	visibility: visible;
}


.clicky-menu ul[aria-hidden="false"] {
	visibility: visible;
}


.clicky-menu .sub-menu--right {
	left: auto !important;
	right: 0 !important;
}

svg[hidden] {
	display: none;
	position: absolute;
}

.site-navigation {
    margin-top: 0px;
	width: 86%;
	max-width: 782px;
	margin-left: 30px;
	box-shadow: 2px 2px 4px rgba(0,0,0,.2);
	background-color: #eee;
	border-radius: 4px;
}

.clicky-menu {
	justify-content: stretch;
	padding: 0;
	list-style: none;
}
@media (min-width: 540px) {
	.clicky-menu {
		display: flex;
	}
}

.clicky-menu a,
.clicky-menu button {
	margin: .25em;
	padding: 1em;
	background: transparent;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-family: inherit;
	border-radius: 3px;
}

.clicky-menu a:hover,
.clicky-menu button:hover {
	background: #fff;
}

.clicky-menu a:focus,
.clicky-menu button:focus {
	outline: .125em dotted purple;
	outline-offset: -.125em;
}

/* Top Level Items */
.clicky-menu > li {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
}

.clicky-menu > li > a,
.clicky-menu > li > button {
	flex: 1 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 0;
	font-size: inherit;
	line-height: 1.5;
	cursor: pointer;
}
@media (min-width: 540px) {
	.clicky-menu > li > a,
	.clicky-menu > li > button {
		justify-content: center;
	}
}

/* Icon */
.clicky-menu svg {
	width: 1em;
	height: 1em;
	margin-left: .5em;
}

.clicky-menu [aria-expanded="true"] svg {
	transform: scaleY(-1);
}

/* Submenu Styles */
.clicky-menu ul {
	min-width: 100%;
	width: 12em;
	margin-top: .25em;
	padding: 0;
	list-style: none;
	background-color: #eee;
	border-radius: 3px;
}
@media (min-width: 540px) {
	.clicky-menu {
		box-shadow: 2px 4px 4px rgba(0,0,0,.2);
	}
}

/* Responsive Submenu Behavior */
.clicky-menu ul[aria-hidden="false"] {
	position: static;
	width: 100%;
	flex: 0 0 auto;
}

@media (min-width: 540px) {
	.clicky-menu ul[aria-hidden="false"] {
		position: absolute;
		width: auto;
	}
}


body {

  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*=================================================================*/
/*                      HEADER
/*=================================================================*/

.header-personal nav.clone, .header-classic .header-bottom.clone {
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  border-bottom: solid 1px #EBEBEB;
  right: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: 0.2s transform cubic-bezier(0.3, 0.73, 0.3, 0.74);
  z-index: 4;
}
.header-personal nav.clone .centered-nav, .header-classic .header-bottom.clone .centered-nav {
  border-top: 0;
}

.header-classic .header-top {
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: solid 1px #EBEBEB;
}
.header-classic .header-bottom {
  padding: 20px 0;
}

.header-minimal {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: solid 1px #EBEBEB;
}

body.down .header-default.clone, body.down .header-personal nav.clone, body.down .header-classic .header-bottom.clone {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.header-personal .header-top {
  padding-top: 100px;
  padding-bottom: 30px;
}
.header-personal .centered-nav {
  border-top: solid 1px #EBEBEB;
  padding: 20px 0;
}
.header-personal.light {
  left: 30;
  right: 0;
  top: 40;
  position: absolute;
  z-index: 2;
}
.header-personal.light .centered-nav {
  border-top-color: rgba(235, 235, 235, 0.2);
}
.header-personal.light .text-logo {
  color: #FFF;
}
.header-personal.light .social-icons li a {
  color: #FFF;
}
.header-personal.light .social-icons li a:hover {
  color: #FE4F70;
}
.header-personal.light .navbar .nav-link {
  color: #FFF;
}
.header-personal.light .navbar.clone .nav-link {
  color: #79889e;
}
.header-personal.light .navbar.clone .nav-link:hover {
  color: #203656;
}
.header-personal.light .navbar.clone li.active .nav-link {
  color: #FFF;
}

.text-logo {
  color: #203656;
  font-size: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  margin: 0px 0 5px;
}
.text-logo .dot {
  color: #FE4F70;
  font-size: 44px;
  margin-left: 5px;
}

.slogan {
  font-family: "Poppins", sans-serif;
  color: #9faabb;
  font-size: 14px;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.navbar-nav .nav-link {
  padding: 0.439rem 1rem;
  color: #79889e;
}
.navbar-nav .nav-link:hover {
  color: #203656;
}
.navbar-nav li.active .nav-link {
  color: #FFF;
  border-radius: 25px;
  background: #FE4F70;
  background: -webkit-linear-gradient(left, #FE4F70 0%, #FFA387 100%);
  background: linear-gradient(to right, #FE4F70 0%, #FFA387 100%);
}


.header-right .social-icons {
  display: inline-block;
}
.header-right .header-buttons {
  display: inline-block;
  margin-left: 50px;
}
.header-right .header-buttons button {
  margin-left: 10px;
}
.header-right .header-buttons button:first-child {
  margin-left: 0;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.3rem;
    padding-left: 1.3rem;
  }
}

/*=================================================================*/
/*                      SECTIONS
/*=================================================================*/
.site-wrapper .main-overlay {
  opacity: 0;
  visibility: hidden;
  filter: blur(2px);
  background: #fff;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.site-wrapper .main-overlay.active {
  opacity: 0.6;
  visibility: visible;
}

section {
  position: relative;
}

.main-content {
  margin-top: 60px;
}

.main-content-lg {
  margin-top: 140px;
  margin-bottom: 140px;
}

.container-minimal {
  max-width: 900px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-header {
  margin-bottom: 30px;
  position: relative;
}
.section-header img.wave {
  margin-top: 10px;
}

.section-title {
  font-size: 24px;
  margin: 0;
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200px;
  width: 100%;
}
.hero:after {
  content: "";
  background: #203656;
  display: block;
  left: 0;
  opacity: 0.8;
  top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}
.hero .cta {
  margin: auto;
  max-width: 700px;
  padding-top: 120px;
  position: relative;
  z-index: 1;
}
.hero .cta h2 {
  color: #FFF;
  font-size: 48px;
}
.hero .cta p {
  color: #FFF;
  font-size: 18px;
  opacity: 0.7;
}
.hero svg {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 1;
}
